---
import CaretRight from '@/components/icons/caret-right.astro'

export interface Props {
  class?: string
  images: {
    src: string
    alt: string
  }[]
  title: string
  classWrapper?: string
  buttonsColor?: string
  autoPlay?: boolean
}

const {
  class: className,
  images,
  title: titleProp,
  classWrapper,
  buttonsColor = '#fff',
  autoPlay = false
} = Astro.props

const title = titleProp.toLowerCase().replace(/\s+/g, '-')
---

<article
  id='carousel'
  class:list={[className, 'relative w-full h-full overflow-hidden']}
  data-images={JSON.stringify(images)}
  data-title={title}
  data-auto-play={autoPlay}
>
  <div
    id={`${title}-carousel-wrapper`}
    class:list={[
      classWrapper,
      'flex w-full h-full transition-transform duration-300'
    ]}
  >
    {
      images.map(({ src, alt }) => (
        <img src={src} alt={alt} class='min-w-full h-full object-cover' />
      ))
    }
  </div>

  <button
    id={`${title}-carousel-prev`}
    {title}
    class='absolute left-4 top-0 bottom-0 cursor-pointer hidden'
    aria-label={`Imagen de ${title} anterior`}
  >
    <CaretRight
      class='rotate-180 size-10 opacity-50 hover:size-14 hover:opacity-90 transition-all'
      style={`color: ${buttonsColor}`}
    />
  </button>

  <button
    id={`${title}-carousel-next`}
    class='absolute right-4 top-0 bottom-0 cursor-pointer hidden'
    aria-label={`Imagen de ${title} siguiente`}
  >
    <CaretRight
      class='size-10 opacity-50 hover:size-14 hover:opacity-90 transition-all'
      style={`color: ${buttonsColor}`}
    />
  </button>

  <div class='absolute bottom-8 w-full justify-center'>
    <ul
      id={`${title}-carousel-indicators`}
      class='flex-row items-center justify-center gap-8 hidden'
    >
      {
        Array.from({ length: images.length }).map((_, index) => (
          <li class='size-8 flex justify-center items-center'>
            <button
              data-index={index}
              class='size-4 opacity-50 rounded-full hover:size-8 hover:opacity-90 transition-all cursor-pointer'
              aria-label={`Imagen de ${title} ${index + 1}`}
              style={`background-color: ${buttonsColor}`}
            />
          </li>
        ))
      }
    </ul>
  </div>
</article>
