---
import { Image } from 'astro:assets'
import Section from '@/components/section.astro'
import CommonAreaItem from './common-area-item.astro'

import { imagesCommonsAreas } from '@/consts/images'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const commonsAreas = [
  {
    id: 'security24hrs',
    title: t('commons-areas.items.security-24-hrs.title'),
    description: t('commons-areas.items.security-24-hrs.description'),
    image: imagesCommonsAreas.security24hrs
  },
  {
    id: 'coworkingArea',
    title: t('commons-areas.items.co-working-area.title'),
    description: t('commons-areas.items.co-working-area.description'),
    image: imagesCommonsAreas.coworkingArea
  },
  {
    id: 'eventRoom',
    title: t('commons-areas.items.event-room.title'),
    description: t('commons-areas.items.event-room.description'),
    image: imagesCommonsAreas.eventRoom
  },
  {
    id: 'gym',
    title: t('commons-areas.items.gymnasium.title'),
    description: t('commons-areas.items.gymnasium.description'),
    image: imagesCommonsAreas.gymnasium
  },
  {
    id: 'administrationOffice',
    title: t('commons-areas.items.administration-office.title'),
    description: t('commons-areas.items.administration-office.description'),
    image: imagesCommonsAreas.administrationOffice
  }
]
---

<div class='w-full h-fit bg-primary-blue'>
  <Section
    id='commons-areas'
    class='flex flex-col items-center justify-center !bg-transparent'
  >
    <div class='px-8 md:px-24 py-20 w-full text-white'>
      <heading
        class='uppercase text-center h-fit flex flex-col items-center gap-12'
      >
        <h2 class='text-md sm:text-xl tracking-[1rem]'>
          {t('commons-areas.section')}
        </h2>
        <h1
          class='text-3xl sm:text-5xl tracking-[1rem] font-semibold leading-tight'
        >
          {t('commons-areas.title')}
        </h1>
      </heading>

      <div
        class='mt-12 w-full flex flex-row flex-wrap items-center justify-center gap-x-20 gap-y-10'
      >
        <div
          id='commons-areas-image'
          class='flex-1 min-w-[250px] aspect-[7/9] lg:aspect-video rounded-xl transition-all overflow-hidden'
        >
          {
            Object.entries(imagesCommonsAreas).map(([key, image]) => (
              <Image
                id={`commons-areas-image-${key}`}
                src={image as ImageMetadata}
                alt={t('common-areas.img.alt')}
                class='hidden object-cover'
              />
            ))
          }
        </div>

        <ul class='flex-1 flex flex-col min-w-[250px] md:max-w-[30ch]'>
          {
            commonsAreas.map(({ id, title, description }, index) => (
              <CommonAreaItem
                id={id}
                index={index}
                title={title}
                description={description}
              />
            ))
          }

          <li class='mx-auto mt-12'>
            <a
              href='#'
              class='text-primary-coral underline cursor-pointer uppercase text-lg'
              >Cargar más</a
            >
          </li>
        </ul>
      </div>
    </div>
  </Section>
</div>

<script>
  const $commonsAreasImage = document.querySelector(
    '#commons-areas-image'
  ) as HTMLDivElement
  const $commonsAreas = document.querySelectorAll('#commons-areas [id]')

  const $commonsAreasImages = document.querySelectorAll(
    'img[id^="commons-areas-image-"]'
  ) as NodeListOf<HTMLImageElement>
  $commonsAreasImages[0].classList.remove('hidden')

  $commonsAreas.forEach((li) => {
    li.addEventListener('click', () => {
      $commonsAreasImage.classList.add('animate-fade-in')

      setTimeout(() => {
        $commonsAreasImages.forEach((image) => image.classList.add('hidden'))
        const idImage = li.id.replace('commons-areas-', '')
        const image = $commonsAreasImages.values().find((image) => {
          return image.id === `commons-areas-image-${idImage}`
        })
        if (image) image.classList.remove('hidden')
        $commonsAreasImage.classList.remove('animate-fade-in')
      }, 300)
    })
  })
</script>

<style>
  #commons-areas-image.animate-fade-in {
    opacity: 0;
    transform: scale(0.95);
  }
</style>
