---
export interface Props {
  id: string
  class?: string
  index: number
  title: string
  description: string
}

const { id, class: className = '', index, title, description } = Astro.props
---

<li id={`commons-areas-${id}`}>
  <details
    name='common-area'
    class:list={[className, 'relative backdrop-blur-lg transition']}
    open
  >
    <summary
      class='text-primary-coral overflow-hidden relative rounded-t-lg border-b-1 border-white cursor-pointer py-2 transition flex flex-row items-center gap-4'
    >
      <div
        class='size-7 bg-primary-coral/20 text-sm rounded-full flex flex-row items-center justify-center'
      >
        <span>{index + 1}</span>
      </div>
      <h4>{title}</h4>
    </summary>

    <article
      class='top-full pl-11 py-4 text-white font-extralight tracking-wider border-b-1 border-white text-balance'
    >
      <p>{description}</p>
    </article>
  </details>

  <h4 class='sr-only'>{title}</h4>
  <p class='sr-only'>{description}</p>
</li>

<style>
  details {
    & summary::-webkit-details-marker {
      display: none;
    }

    & summary {
      position: relative;
      list-style: none;
      &::after {
        position: absolute;
        right: 0;
        content: '+';
        color: var(--color-primary-coral);
      }
      [open] &::after {
        content: '−';
      }
    }
  }
</style>
