---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import CaretRight from './icons/caret-right.astro'
import { inventoryData as TypeInventoryData } from 'src/consts/inventory'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

export interface Props {
  class?: string
  model: 'coral-model' | 'caracol-model' | 'plus-model'
  description?: string
  size?: string
  price?: string
  idsModel?: typeof TypeInventoryData
  [key: string]: any
}

const {
  class: className,
  model,
  description,
  size,
  price,
  idsModel = [],
  ...moreDetails
} = Astro.props
---

<details
  open
  name='model-information'
  class:list={[
    className,
    'flex-col rounded-lg p-3 uppercase shadow-md tracking-wider'
  ]}
>
  <summary class='flex flex-row justify-between items-center group'>
    <h3 id='modelo' class='text-xl font-semibold leading-none'>
      {t(`inventory.${model}`)}
    </h3>
    <CaretRight class='size-4 transition' />
  </summary>

  <article>
    <div id='divider' class='w-full h-[1px] my-2'></div>

    {
      description && (
        <p class='my-2 text-sm normal-case font-extralight tracking-wide'>
          {description}
        </p>
      )
    }

    {
      idsModel.length > 0 && (
        <div class='flex flex-row flex-wrap gap-2 font-extralight tracking-widest text-gray-700 my-4'>
          {idsModel.map(({ id }) => (
            <div class='flex items-center justify-center px-2 py-0 bg-white rounded-full'>
              {id}
            </div>
          ))}
        </div>
      )
    }

    <div
      class='grid grid-cols-2 grid-rows-3 gap-2 font-extralight tracking-wide
    text-lg [&>h4]:font-normal'
    >
      {
        Object.entries(moreDetails)?.map(([key, value]) => (
          <>
            <h4>{t(`inventory.${key}`)}</h4>
            <p id={key}>{value}</p>
          </>
        ))
      }

      {
        size && (
          <>
            <h4>{t('inventory.since-size')}</h4>
            <p id='size'>{size}</p>
          </>
        )
      }

      {
        price && (
          <>
            <h4>{t('inventory.since-price')}</h4>
            <p id='price'>{price}</p>
          </>
        )
      }
    </div>
  </article>

  <style>
    details {
      overflow: hidden;

      & summary::-webkit-details-marker {
        display: none;
      }

      & summary {
        position: relative;
        list-style: none;
        [open] & svg {
          rotate: 90deg;
        }
      }
    }

    article {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
    details[open] article {
      max-height: 500px;
      transition: max-height 0.3s ease;
    }
  </style>
</details>
